<div class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download app for android and ios mobile phone. </p>
                <div class="app-logo">
                    <img src="../assets/images/logo/play-store.png" alt="">
                    <img src="../assets/images/logo/app-store.jpg" alt="">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../assets/images/logo/logo-v2.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nulla blanditiis maiores mollitia provident.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2024 - ShopBag</p>
    </div>
</div>